---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import FeaturedProjects from '@components/FeaturedProjects.astro'
import FeaturedBlogPosts from '@components/FeaturedBlogPosts.astro'
import AboutTerminal from '@components/AboutTerminal.astro'
import { getSiteSettings } from '@server/content/site-settings'
import { getProjects } from '@server/content/projects'
import { getBlogPosts } from '@server/content/blog-posts'
import { Heading } from 'accessible-astro-components'

const homepageLimit = 3
const [siteSettings, featuredProjects, featuredPosts] = await Promise.all([
  getSiteSettings(),
  getProjects({ limit: homepageLimit }),
  getBlogPosts({ limit: homepageLimit }),
])
---

<DefaultLayout
  title="Ibnu Rizal Mutaqim | Web Developer Portfolio"
  description="Ibnu Rizal Mutaqim adalah mahasiswa yang aktif belajar dan membangun website modern, sambil menampilkan project, pengalaman, dan catatan belajarnya."
  useTitleTemplate={false}
>
  <Hero src={siteSettings.homeImageUrl} description="Holaa! Selamat datang di website profil saya.">
    <span class="text-gradient" data-hero-greeting>Haiiii Haiii</span>
  </Hero>

  <section class="my-16 md:my-24 lg:my-32">
    <div class="container">
      <Heading level="h2" class="mb-8">About Me</Heading>
      <AboutTerminal content={siteSettings.aboutMe} commandLabel="./tentang_saya" />
    </div>
  </section>

  <FeaturedProjects title="Pengalaman & Proyek Pilihan" projects={featuredProjects} />
  <FeaturedBlogPosts title="Tulisan saat senggang saja" posts={featuredPosts} />
</DefaultLayout>
